<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="taskDaoCsv" class="ru.otus.students.testing.dao.TaskDaoCsv">
        <constructor-arg name="pathToCsv" value="questions.csv"/>
    </bean>

    <bean id="taskServiceImpl" class="ru.otus.students.testing.service.TaskServiceImpl">
        <constructor-arg name="taskDao" ref="taskDaoCsv"/>
    </bean>

</beans>
